Package: com.sacmunraga.mimounlock
Name: MimoUnlock
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: A tweak which unlock’s ALL lessons in Mimo v1.2.1.
Maintainer: Sacmunraga
Author: Sacmunraga
Section: Tweaks
